$bg-color: #2A2A2A;
$fg-color: #DFDFDF;

svg.this {
  background-color: $bg-color;
  > text {
    fill: #DFDFDF;
    font-size: 20px;
    font-family: sans-serif;
    text-anchor: middle;
    alignment-baseline: hanging;
    &.title {
      font-size: 30px;
    }
  }
  > path.arc {
    stroke:$fg-color;
    stroke-width:14;
    fill-opacity:0;
  }
  > g.needle {
    stroke:$fg-color;
    stroke-width:4;
    stroke-linecap: round;
    > .bg {
      stroke:$bg-color;
      stroke-width:14;
    }
  }
}
