div.this {
  padding: 30px;
  text-align: center;
  margin: 0 auto;
  &.error {
    > h2 {
      color: red;
    }
  }
}

div.loading {
  width: 300px;
  height: 180px;
  background-color: #2A2A2A;
  color: #DFDFDF;
  font-size: 1.3em;
  text-align: center;
  margin: 0 auto;
}

a.button {
  padding: 6px;
  background-color: #5bc0de;
  box-shadow: 0 3px 0 0 rgba(0,0,0,.2);
  border-radius: 5px;
  font-size: 16px;
  color: white;
  cursor: pointer;
}

a.button:hover {
  background-color: #31b0d5;
}
